# copy all the things from here, create a .env file and then just replace the tokens and api keys with yours
BOT_TOKEN=ENTER YOUR DISCORD BOT TOKEN HERE
CLIENT_ID=ENTER YOUR DISCORD BOT CLIENT ID HERE(AKA APPLICATION ID)
API_KEY_GEMINI=ENTER YOUR GEMINI API KEY HERE
STABILITY_AI_TOKEN=ENTER YOUR STABILITY AI TOKEN HERE